"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "LetterGothicMono"
    fontSize: 18
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "386631d3-bf09-8b3d-2467-c692d5d7c523"
  "linter-eslint":
    fixOnSave: true
  "linter-rubocop":
    disableWhenNoConfigFile: true
  welcome:
    showOnStartup: false
