"*":
  core:
    customFileTypes:
      "source.ini": [
        ".flowconfig"
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "sort-lines"
      "atom-ide-ui"
      "ide-flowtype"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "LetterGothicMono"
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "386631d3-bf09-8b3d-2467-c692d5d7c523"
  "flow-ide": {}
  "go-plus":
    disabledBundledPackages: [
      "linter"
    ]
    panel:
      currentHeight: "27.563249001331556vh"
  "ide-flowtype":
    tryFlowBin: true
  "linter-eslint":
    fixOnSave: true
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 169
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
